#root {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 3rem;
}

.main-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-title {
  margin: 0;
  font-size: 3rem;
}

.main-subtitle {
  margin-top: 0;
  margin-bottom: 2rem;
}

#main-btn {
  background-color: #60ff51;
  color: var(--main-dark-bg);
  margin: 0 auto;
  font-weight: 700;
}
