.dashboard-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0.5rem;
}

.dashboard-content {
  width: 100%;
  flex: 1;
}

.shift-items-container {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
